[Unit]
Description=Thermal Photobox Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/scripts/thermal_photobox
ExecStart=/usr/bin/python3 /home/pi/scripts/thermal_photobox/thermal_photobox.py &
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
